{% extends "base.html" %}
{% set lang = "en" %}{% set dir = "ltr" %}
{% block content %}
<h1>Reset Your Password</h1>
<p>Hi {{ user_name }},</p>
<p>We received a request to reset your Kaasb password. Click the button below to create a new password.</p>
<div style="text-align: center; margin: 32px 0;">
  <a href="{{ reset_url }}" class="btn">🔐 Reset Password</a>
</div>
<p>This link is valid for <strong>1 hour</strong> and can only be used once.</p>
<hr class="divider">
<p><strong>Didn't request a password reset?</strong> Ignore this email and your password will remain unchanged. If you're concerned, contact us at <a href="mailto:support@kaasb.com">support@kaasb.com</a></p>
<p class="link-note">If the button doesn't work, copy this link:<br>{{ reset_url }}</p>
{% endblock %}
